@import 'mixins.styl'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')

body
  color black-gray
  font-family Roboto
  font-size 14px

  #todos
    margin 0 auto

input
  color black-gray
  font-family Roboto
  font-size 14px
